<!DOCTYPE html>
<html >

<head>
   <title>Dericks airport info</title>
   <link rel="stylesheet" href="app.component.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,500&display=swap" rel="stylesheet">
   
</head>



<body>

<div class="header">
   <div class="left-side">

   </div>
   <div class="middle-side">
      <p>Dericks airport</p>
      </div>
  


</div>


<div class="sub-header">
   <div id="k"><p><a href="#reserv">Reservations</a></p></div>

   <div id="k"><P><a href="#flights">Flights</a></P></div>

</div>

<div class="About">

</div>
<div class="about-info">
<h1>About</h1>
<p>show the all the flights reserved and display the people who resevered it</p>
</div>


</body>

</html>
<router-outlet />
